pyrogram>=2.0.30
tgcrypto==1.2.5
pymongo==4.4.1
marshmallow==3.14.1
umongo==3.1.0
motor==3.0.0
requests==2.31.0
bs4
cinemagoer==2023.5.1
shortzy==0.0.8
datetime
pytz==2023.3.post1
aiohttp==3.8.6
telegraph==2.2.0
googletrans==3.1.0a0
youtube-search-python
youtube-search==2.1.2
yt-dlp==2023.2.17
gTTS==2.3.1
dnspython==2.3.0
wget==3.2
Pillow==10.0.1
psutil==5.9.4
openai==0.28.1
shazamio==0.4.0.1
ffmpeg
opencv-python-headless==4.7.0.68